# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. matplotlib
3. numPy

| Data Science Tools |
| ------------------ |
| RStudio |
| Jupyter Notebooks |
| MySQL |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
* List popular languages for Data Science
* List of commonly used libraries used by Data Scientists
* Table of Data Science tools
* Examples of evaulating arithmetic expressions

## Author
Anais Velazquez