In [7]:
import pandas as pd

path = '/Users/anaisvelazquez/Downloads/Data Science Courses/Database Code and CSV/Locations.csv'

df = pd.read_csv(path)

df.describe()

              2
count  2.000000
mean   6.000000
std    1.414214
min    5.000000
25%    5.500000
50%    6.000000
75%    6.500000
max    7.000000